:root {
  /* * Colors */
  --c-dim-grey: #666666;
  --c-grey: #898F8F;
  --c-dark-slate-grey: #333333;
  --c-gold: #FFCC00;
  /* * Fonts */
  --f-base: "Raleway";
  --f-gold: "Roboto";
  --f-grey: "Open Sans";
  /* * Font size */
  --fs-base: 14px;
}