// * Banner

.main-title {
  display: block;
  max-width: 770px;
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
  line-height: 64px;
  letter-spacing: 2px;
}

// * Section

.section-title {
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
  line-height: 64px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

.content-bottom {
  margin-left: auto;
}

.article-title {
  font-family: var(--f-grey);
  line-height: 28px;
  letter-spacing: 4px;
  color: var(--c-black);
  margin-bottom: 15px;
}

.article-subtitle {
  font-family: var(--f-grey);
  font-weight: var(--fw-reg);
  color: var(--c-light-grey);
  letter-spacing: 1.3px;
  margin-bottom: 30px;
}

.article-date {
  display: block;
  font-family: var(--f-grey);
  font-weight: var(--fw-reg);
  color: var(--c-light-grey);
  margin-bottom: 50px;
}

.article-text {
  font-family: var(--f-grey);
  color: var(--c-dark-grey);
  line-height: 28px;
}

.article-text-link {
  padding-left: 13px;
}

.icon-arrow {
  fill:var(--c-light-grey);
  transition: all .3s ease-in-out;

  &:hover {
    fill: red;
    transform: scale(1.5) translateY(-2px);
  }
}

