:root {
  // * Colors
  --c-white: #FFFFFF;
  --c-black: #000000;
  --c-light-grey: #7B7B7B;
  --c-dark-grey: #565656;

  // * Fonts
  --f-black: "Red Hat Display";
  --f-grey: "Lato";
  --fs-main: 16px;
  --fs-big: 48px;
  --fs-middle: 23px;
  --fs-small: 14px;
  --fw-bold: 600;
  --fw-s-bold: 500;
  --fw-reg: 400;
}