:root {
  // * Colors
  --c-white: #FFFFFF;
  --c-black: #000000;
  --c-light-grey: #7B7B7B;
  --c-dark-grey: #565656;
  --c-red: red;

  // * Fonts
  --f-black: "Red Hat Display";
  --f-grey: "Lato";
  --fs-main: 16px;
  --fs-big: 48px;
  --fs-middle: 23px;
  --fs-small: 14px;
  --fs-tablet: 36px;
  --fs-phone: 30px;
  --fw-bold: 600;
  --fw-s-bold: 500;
  --fw-reg: 400;
  // * Transitions
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  // * Breakpoints
  --bp-phone: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  --bp-screen: 1200px;
  --bp-large: 1920px;
}

$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'screen': 1200px,
  'large': 1920px,
);