/* * Header */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--c-dark-grey);
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo-name-wrapper {
  font-family: var(--f-title);
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
  color: var(--c-dark-violet);
}

/* * Main */

.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-subtitle {
  font-family: var(--f-main);
  font-size: 16px;
  text-transform: uppercase;
  color: var(--c-light-grey);
  margin-bottom: 15px;
}

.main-title {
  font-family: var(--f-title);
  color: var(--c-dark-violet);
  margin-bottom: 40px;
}

.main-articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-article-wrapper {
  max-width: 370px;
}

.main-article-inner {
  border: 1px solid var(--c-dark-grey);
  border-radius: 8px;
  padding: 40px;
  transition: all 0.5s ease-in-out;
}

.main-article-inner:hover {
  border: 1px solid var(--c-green);
}

.main-article-inner-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 1px solid var(--c-extra-dark-grey);
  border-radius: 16px;
  margin-bottom: 30px;
}

/* Icons */

.icon-building-blue, .icon-megaphone-blue {
  font-size: 40px;
}

.icon-phone-blue {
  font-size: 36px;
}

.article-title {
  font-family: var(--f-main);
  font-size: 24px;
  color: var(--c-dark-violet);
  padding-bottom: 15px;
}

.article-text {
  font-family: var(--f-main);
  color: var(--c-dark-violet);
  line-height: 28px;
  margin-bottom: 30px;
}

.article-link {
  font-family: var(--f-main);
  font-weight: 600;
  color: var(--c-green);
}

/* * Footer */
.footer {
  background-color: var(--c-dark-violet);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.footer-logo-name-wrapper {
  font-family: var(--f-title);
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
  color: var(--c-white);
}

.footer-socials-wrapper-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-socials-wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: var(--c-extra-dark-grey);
}

.footer-socials-wrapper-link {
  font-size: 20px;
  color: var(--c-black);
  transition: all .5s ease-in-out;
}

.footer-socials-wrapper-link:hover {
  color: var(--c-green);
}