* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  background: #4a4f56;
  color: #ff8984;
  text-align: center;
}

.header-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  padding: 19px 0 4px;
}

.shopping-slogan {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

.shopping-slogan p {
  padding-bottom: 12px;
}

/* footer */

.footer {
  background: #3b3f45;
  padding-bottom: 45px;
}

.footer-container {
  max-width: 535px;
  margin: 0 auto;
  padding: 20px 0 45px;
}
/* purchase-items */
.purchase-check {
  display: flex;
  padding: 12px 0 14px 12px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.purchase-check:hover {
  background: #625e77;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.purchase-item-info {
  display: flex;
  align-items: center;
}

.purchase-item:nth-child(odd) {
  background: #88839e;
}

.purchase-item:nth-child(even) {
  background: #7a7593;
}

/* checkbox */

.checkbox {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.checkbox:checked + div {
  text-decoration: line-through;
  color: #9b96ac;
}


.checkbox:active + div {
  background: #ff8984;
}

.purchase-item-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  padding-left: 16px;
}

.purchase-item-name-note {
  font-family: "Roboto";
  font-size: 11px;
  padding-left: 4px;
}

/* footer button */

.footer-button {
  width: 535px;
  display: block;
  margin: 0 auto;
  background: #4a4f56;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #ff8984;
  border: none;
  padding: 12px 0 12px;
  cursor: pointer;
}
