.navigation-search {
  width: 16px;
  height: 16px;
}

.navigation-item {
  font-family: var(--f-grey);
  text-transform: uppercase;
}

.navigation-link {
  color: var(--c-dark);
  letter-spacing: 3px;
}