:root {
  /* *Colors */
  /* main */
  --c-blue: #3399cc;
  --c-dark-blue: #2b81ac;
  /* border */
  --c-white: #ffffff;
  /* row 1 */
  --с-lisbon: #70b8db;
  --c-paris: #33cccc;
  --c-belgrade: #996699;
  /* row 2 */
  --c-venice: #c24747;
  --c-tel-aviv: #e2674a;
  --c-cairo: #ffcc66;
  --c-new-york: #99cc99;
  /* row 3 */
  --c-new-delhi: #669999;
  --c-san-francisco: #cc6699;
  --c-tokyo: #339966;
  /* row 4 */
  --c-sydney: #666699;
  /* * Fonts */
  --f-base: "Lucida Sans Unicode";
  /* * Font sizes */
  --fs-base: 22px;
  /* * Transitions */
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  /* * Widths */
  --w-quoter: 25%;
  --w-half: 50%;
  --w-ful: 100%;
}
