:root {
  /* *Colors */
  /* main */
  --c-blue: #3399cc;
  --c-dark-blue: #2b81ac;
  /* border */
  --c-white: #ffffff;
  /* row 1 */
  --с-sky-blue: #70b8db;
  --c-turquoise: #33cccc;
  --c-medium-orchid: #996699;
  /* row 2 */
  --c-indian-red: #c24747;
  --c-tomato: #e2674a;
  --c-khaki: #ffcc66;
  --c-dark-sea-green: #99cc99;
  /* row 3 */
  --c-cadet-blue: #669999;
  --c-pale-violet-red: #cc6699;
  --c-medium-sea-green: #339966;
  /* row 4 */
  --c-slate-blue: #666699;
  /* * Fonts */
  --f-base: "Lucida Sans Unicode";
  /* * Font sizes */
  --fs-base: 22px;
  /* * Transitions */
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  /* * Widths */
  --w-quoter: 25%;
  --w-half: 50%;
  --w-ful: 100%;
}
