/* * Global  */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: var(--c-white);
  color: var(--c-gray);
  font-size: 16px;
  min-height: 100vh;
  font-family: var(--f-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* * Helpers */

.wrapper {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}