/* Header */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.header-title-wrapper {
  max-width: 450px;
  margin: 0 auto;
}

.header-subtitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--c-grey);
  margin-bottom: 15px;
}

.header-main-title {
  font-family: var(--f-gold);
  font-size: 60px;
  text-transform: uppercase;
  color: var(--c-gold);
  margin-bottom: 40px;
}

.header-title-divider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider-line {
  width: 210px;
  height: 1px;
  background-color: var(--c-gold);
}

/* Main */
.main-wrapper {
  display: flex;
  justify-content: center;
}

.main-section-wrapper {
  max-width: 1030px;
  display: flex;
  align-items: center;
}

.main-portrait-wrapper {
  width: 50%;
  border-right: 1px solid gold;
  padding-top: 100px;
  padding-bottom: 65px;
}

/* Portrait */

.main-portrait {
  margin-right: 85px;
}

/* Frame */

.main-portrait-frame-wrapper {
  position: relative;
  display: flex;
}

.main-portrait-frame-block {
  position: relative;
}

.main-portrait-frame-block {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid var(--c-gold);
}

.main-portrait-frame-block--top-right {
  top: 0;
  left: 77%;
  border-left: none;
  border-bottom: none;
}

.main-portrait-frame-block--bottom-right {
  bottom: 0;
  left: 77%;
  border-left: none;
  border-top: none;
}

.main-portrait-frame-block--bottom-left {
  bottom: 0;
  border-top: none;
  border-right: none;
}

.main-portrait-frame-block--top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.main-portrait,
.main-text {
  max-width: 430px;
}

.main-photo {
  padding: 15px;
}

.main-icon-image {
  width: 30px;
  height: 30px;
}

/* Main text */

.main-text-wrapper {
  margin-top: 100px;
  padding-bottom: 65px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 85px;
}

.main-text-title {
  font-family: var(--f-gold);
  font-size: 36px;
  line-height: 1;
  color: var(--c-dim-grey);
  margin-bottom: 30px;
}

.main-text-title-divisor {
  width: 100px;
  height: 1px;
  background-color: var(--c-gold);
  margin-bottom: 30px;
}

.main-text-subtile {
  font-size: 24px;
  line-height: 1;
  color: var(--c-dim-grey);
  font-weight: 400;
  margin-bottom: 30px;
}

.main-icons-block {
  margin-bottom: 50px;
}

.main-icons-list {
  display: flex;
  gap: 5px;
}

.section-text-description {
  margin-bottom: 20px;
}

.section-text-description-paragraph {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}

.section-text-triple-divisor {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.triple-divisor-element-edge {
  width: 10px;
  height: 4px;
  background-color: var(--c-gold);
}

.triple-divisor-element-center {
  width: 20px;
  height: 4px;
  background-color: var(--c-gold);
}

.button {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--c-gold);
  cursor: pointer;
}

.button-name {
  font-family: var(--f-grey);
  font-weight: 700;
  font-size: 14px;
  margin: 5px 10px;
  text-transform: uppercase;
}
