.main-text-wrapper {
  margin-top: 100px;
  padding-bottom: 65px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 85px;
}

.section-text-description {
  margin-bottom: 20px;
}

.section-text-description-paragraph {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}