.circle-radial {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #480E63;
  border: 12px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
  transition: all .8s ease-in-out;

  &--top {
    top: 0;
    left: calc(50% - 50px);

    &:hover {
      transform: translateY(50px);
    }
  }

  &--top-right {
    top: calc(20% - 50px);
    right: calc(20% - 50px);

    &:hover {
      transform: translate(-30px, 30px);
    }
  }

  &--right {
    left: calc(100% - 100px);

    &:hover {
      transform: translateX(-50px);
    }
  }

  &--bottom-right {
    bottom: calc(20% - 50px);
    right: calc(20% - 50px);

    &:hover {
      transform: translate(-30px, -30px);
    }
  }

  &--bottom {
    bottom: 0;

    &:hover {
      transform: translateY(-50px);
    }
  }

  &--bottom-left {
    bottom: calc(20% - 50px);
    left: calc(20% - 50px);

    &:hover {
      transform: translate(30px, -30px);
    }
  }

  &--left {
    right: calc(100% - 100px);

    &:hover {
      transform: translateX(50%);
    }
  }

  &--top-left {
    top: calc(20% - 50px);
    left: calc(20% - 50px);

    &:hover {
      transform: translate(30px, 30px);
    }
  }
}