.circle-radial {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #480E63;
  border: 12px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
  transition: all .8s ease-in-out;

  &--top {
    top: 0;
    left: calc(50% - 50px);

    &:hover {
      top: 50px;
    }
  }

  &--top-right {
    top: calc(20% - 50px);
    right: calc(20% - 50px);

    &:hover {
      top: calc((20% - 50px) + 50px / 1.414);
      right: calc((20% - 50px) + 50px / 1.414);
    }
  }

  &--right {
    left: calc(100% - 100px);

    &:hover {
      left: calc(100% - 150px);
    }
  }

  &--bottom-right {
    bottom: calc(20% - 50px);
    right: calc(20% - 50px);

    &:hover {
      bottom: calc((20% - 50px) + 50px / 1.414);
      right: calc((20% - 50px) + 50px / 1.414);
    }
  }

  &--bottom {
    bottom: 0;

    &:hover {
      bottom: 50px;
    }
  }

  &--bottom-left {
    bottom: calc(20% - 50px);
    left: calc(20% - 50px);

    &:hover {
      bottom: calc((20% - 50px) + 50px / 1.414);
      left: calc((20% - 50px) + 50px / 1.414);
    }
  }

  &--left {
    right: calc(100% - 100px);

    &:hover {
      right: calc(100% - 150px);
    }
  }

  &--top-left {
    top: calc(20% - 50px);
    left: calc(20% - 50px);

    &:hover {
      top: calc((20% - 50px) + 50px / 1.414);
      left: calc((20% - 50px) + 50px / 1.414);
    }
  }
}