.line {
  position: absolute;
  width: calc(100% - 100px);
  height: 3px;
  background-color: var(--c-light-grey);
  transition: all .8s ease-in-out;

  &--45 {
    transform: rotate(45deg);
  }

  &--90 {
    transform: rotate(90deg);
  }

  &--135 {
    transform: rotate(135deg);
  }
}