.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media('<=tablet') {
    align-items: flex-start;
  }
}

.navigation-items-container {
  display: flex;
  align-items: center;
  gap: 80px;

  @include media('<=tablet') {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

.navigation-list {
  max-width: 500px;
  display: flex;
  gap: 40px;
  align-items: center;
  transition: var(--t-normal);

  @include media('<=tablet') {
    flex-direction: column;
    gap: 10px;
    display: none;
  }

  &--open {
    pointer-events: auto;
    display: flex;
  }
}