.section {
  margin-bottom: 50px;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

.content-bottom {
  margin-left: auto;

  @include media('<=mob') {
    margin: 0;
  }
}